\#*
\.#*
bin/
include/
local/
share/
lib/
build/
dist/
virtualenv
*.ipr
.shell_history
*.iml
*.iws
*.egg-info
*.pot
*.py[co]
*.pyc
*.swp
*.swo
*.rdb
*.pyc
*.sqlite3
*.sqlite
*.sql
*.log
*.db
*.db
*.pid
.pypirc
.project
.env
.idea
.iws
.iml
target